#react-root
  #main-container
    padding-top: 10vh
  input
    border-radius: 4px
  .input-group
    input
      border-bottom-left-radius: 0px
      border-top-left-radius: 0px

.lr-ui-icon.disabled
  opacity: 0.2
  pointer-events: none

.lr-ui-table-filters-container
  margin-bottom: 15px
.lr-ui-select
  > *
    font-size: 14px

.lr-ui-table-button-group-container
  .button
    font-size: 14px
